.idea
.vscode
build
output
*.egg-info
*.so
**/__pycache__
weights/*
pretrained
data/Kitti/downsampled
data/ModelNet/*.pkl
data/3DMatch/data/*

*.bin
*.npy
*.png
data/**/*.txt
data/**/*.png
data/**/*.jpg
data/**/*.zip
data/**/*.label


gif_temp/*

*.bag

reg_pointclouds/images/*

weights202408/*
output202408/*

*.tar.gz

*.slurm.e*
*.slurm.o*
*.out

data/tartan_drive_2/sequences/*

*.slurm
*.sh

cvpr_output_ours/*